<p id="notice"><%= notice %></p>

<h1>Lista de  Propostas</h1>

<table class="table table-striped">
  <thead >
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Valor</th>
      <th>Início</th>
      <th>Fim</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @proposta.each do |propostum| %>
      <tr>
        <td><%= propostum.nome %></td>
        <td><%= propostum.descricao %></td>
        <td><%= propostum.valor %></td>
        <td><%= propostum.inicio %></td>
        <td><%= propostum.fim %></td>
        <td><%= propostum.cidade %></td>
        <td><%= link_to 'Mostrar', propostum %></td>
        <td><%= link_to 'Editar', edit_propostum_path(propostum) %></td>
        <td><%= link_to 'Excluir', propostum, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Proposta', new_propostum_path %>
